.footer-container {
    margin-top:auto;     
} 


.footer--col-left {
    display: flex;
    align-items: center;
    justify-content: space-between;
}  
.footer {  
    display: flex;
    justify-content:space-between;
    align-items: center;
}

.inner-footer {
    background: #17191C;
    margin-top:auto;
    height: 135px;
}
