
.inner-section__title {    
    font-size: 48px;
    font-weight: bold;
    margin-bottom: 80px;
   
}
.inner-section {
    background: #F4F5F5;
    color: #000; 
   
}
   
.inner-section {
    background:#F4F5F5 ;
}

.partners {
    display: flex;
    flex-wrap: wrap;
    
}
.partners__link {
    text-decoration: none;
    display: flex; 
    
    align-items: center;
    justify-content: center;
}
.partners__item {
    margin-left: 23px;
    width: 230px;
    height: 80px;
    margin-top: 30px;
}
.partners__item:nth-child(4n +1) {
    margin-left: 0;
}
.inner-footer {
    background: #17191C;
    margin-top:auto;
    height: 135px;
}
