.service {
   
    margin-top: 73px;    
}
.services__item {
    display: flex;
}
.service-bottom {
    margin-top: 45px;
}
.service__img {
    width: 100%;
    height: 100%;
    object-fit: cover;    
}

.service__content {
   padding-top: 18px;
    margin-left: 64px;
    
}  
.services {
    
}
.service__title {
    font-size: 36px;
    line-height: 39px;
    font-weight: bold;
    margin-bottom: 54px;
  
}
.service__desc {
  min-height: 136px;
    line-height: 27px;
    margin-bottom: 20px;
    color: #000;     
}